.MainProfile{
    
    width:750px;
    margin:0 auto;
    border-radius: 4px;
    margin-top:10px;
    border: solid 1px #1cb54f;
    background-color: #ffffff;
}
.Group {
    width: 750px;
    height: 112px;
}
.ProfilePhoto{
    height: 120px;
    width:120px;
    margin-left:330px;
    position: relative;
    margin-top: -60px;
    background-color: red;
}
.UserPhoto{
  border-radius: 60px;
  height: 120px;
  width:120px;
}
.rightOfProfile{
    width:70px;
    display: flex;
    justify-content: space-between;
    margin-left: 650px;
    margin-top: -50px;
}
.BasicInfo{
    margin-top:35px;
    margin-left: 320px;
}
.Robert-Smith {
    width: 200px;
    height: 21px;
   
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .CEO {
    width: 100px;
    height: 16px;
    margin-left:50px;
    font-family: DMSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .Gold-Brands {
    width: 72px;
    height: 16px;
    margin-left:55px;
    font-family: DMSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .messageContact{
      display: flex;
      justify-content: space-around;
      width:490px;
      margin-left: 150px;
      margin-top: 30px;
  }
  .RectangleMessageContact {
    width: 185px;
    height: 35px;
    display: flex;
    
    justify-content: space-around;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #14b349, #09a04f);
    background-color: black;
  }
  .Message{
    width: 50px;
  height: 16px;
  
  font-family: DMSans;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  }
  .SaveContact{
    width: 80px;
    height: 16px;
    
    font-family: DMSans;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .ContactImage{
      margin-top:5px ;
      height:20px;
  }
  .MessageImage{
      height:20px;
      margin-top: 7px;
  }
  .DetailsNotes{
      list-style: none;
      width:100px;
      display: flex;
      padding-left: 30px;
      justify-content: space-between;

  }
  .details {
    width: 46px;
    height: 18px;
   
    font-family: DMSans;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
    cursor:pointer;
  }
  .Notes {
    width: 38px;
    height: 18px;
   
    font-family: DMSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
    cursor:pointer;
  }
  .UserDetialsLabel {
    width: 61px;
    height: 16px;
    font-family: DMSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9ea0a3;
  }
  .RectangleUser {
    width: 154px;
    height: 35px;
    border-radius: 17.5px;
    background-color: var(--dusty-orange-18);
  }
  .UserDetailsText0 {
  
    display: flex;
    justify-content: space-between;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f17c2b;
  }
  .UserDetailsText1 {
   
    display: flex;
    justify-content: space-between;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #96368f;
  }
  .UserDetailsText2 {
    
    display: flex;
    justify-content: space-between;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a9691;
  }
  .UserDetailsText3 {
   
    display: flex;
    justify-content: space-between;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e63183;
  }
  .UserDetailsText4 {
   
    display: flex;
    justify-content: space-between;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0080af;
  }
  
  .UserTextGroup{
      width:250px;
      margin-top:10px;
    display: flex;
    justify-content: space-between;
  }
  .UserDetailsBox{
      margin-left: 30px;
  }
  .UserDetailsElement0{
    min-width: 25px;
    margin-left: 5px;
    border-radius: 17.5px;
    background-color: #ffdead;


  }
  .UserDetailsElement1{
    min-width: 25px;
    margin-left: 5px;
    border-radius: 17.5px;
    background-color: rgba(150, 54, 143, 0.18);


  }
  .UserDetailsElement2{
    min-width: 25px;
    margin-left: 5px;
    border-radius: 17.5px;
    background-color: rgba(26, 150, 145, 0.18);


  }
  .UserDetailsElement3{
    min-width:25px;
    margin-left: 5px;
    border-radius: 17.5px;
    background-color: rgba(230, 49, 131, 0.18);

  }
  .UserDetailsElement4{
    min-width:25px;
    margin-left: 5px;
    border-radius: 17.5px;
    background-color: rgba(0, 128, 175, 0.17);
    

  }
  .UserDetailsTextInside0{
    background-color: #f17c2b;
    font-family: DMSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f17c2b;
  }
  .UserDetailsTextInside{
    position: relative;
    padding:10px 10px 10px 10px;
  }
  .groupInfo{
      width:200px;
      display: flex;
      justify-content: space-between;
  }
  .infoImage{
      height:20px;
  }
  .infoText{
      margin-top:0px;
      width: 146px;
      height: 21px;
     
      font-family: DMSans;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #1cb54f;
  }
  .groupContactInfo{
      margin-top: 30px;
      margin-left: 30px;
  }
  .Address{
      margin-left: 30px;
      margin-top: 10px;
  }
  .Business-Address {
    width: 98px;
    height: 16px;
    
    font-family: DMSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9ea0a3;
  }
  .A-Digital-Agency {
    width: 121px;
    height: 21px;
 
    font-family: DMSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .-Sycamore-Dr {
    width: 123px;
    height: 21px;
    
    font-family: DMSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1cb54f;
  }
  .Torrington-CT-06790 {
    width: 156px;
    height: 21px;
  
    font-family: DMSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1cb54f;
  }
  .Rectangle-Copy {
    box-shadow:  -5px 0px #228B22;
    margin-left:30px;
    margin-bottom: 10px;
    width: 443px;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    border:1px solid grey;
    box-shadow: 5px solid green;
  }
  .bio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .quotes{
    margin-top: 0px;
    font-size: 20px;
    color: green;
    font-weight: bold;
  }
  .underline{
    width:50px;
    height:2px;
    margin-left: 30px;
    background-color:green;
  }
  .underline2{
    width:50px;
    height:2px;
    margin-left: 58px;
    background-color:green;
  }
  