
.PEEKaMEET2020{
    margin-top: 25px;
    margin-left: 40px;
    width: 121px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
      
}
.Follow-Us{
  width: 63px;
  height: 18px;
  margin-left:200px;
  margin-top: 25px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}
.Content{
margin-top: 20px;
  width: 28px;
  height: 18px;
  text-decoration: none;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}
.Logos{
    margin-top: 20px;
    width:150px;
    
    
}
.fb{
    margin-left: 10px;
}
.twit{
    margin-left: 10px;
}
.youtube{
    margin-left: 10px;
}
.insta{
    height:21px;
    margin-left: 10px;
}
.Contents{
    width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
}
.RectangleFooter {  
       
    display:flex;
    height: 64px;
    margin-top:50px;
    background-color: #f4f7f8;
  }