.Header{
    width:900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.SubHeader{
    margin-top: 10px;
    width:140px;
    height:50px;
    display: flex;
    justify-content: space-between;
}
.Oval {
    width: 40px;
    height: 40px;
    background-color: #152d4e;
  }
.PEEKaMEET {
    margin-top: 10px;
    width: 150px;
    height: 35px;
   
  }
  .RectangleSignIn {
    
    width: 87px;
    height: 30px;
    border-radius: 4px;
  }
  .Sign-In {
    width: 51px;
    height: 21px;
    margin-left: -42px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .RectangleSignUp {
    
    width: 87px;
    height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .Sign-Up {
    width: 57px;
    height: 21px;
    margin-left: 0px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1cb54f;
  }