.Rectangle {

    height: 56px;
    display: flex;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, #14b349, #09a04f);
  }
  .peekameet{
    width:150px;
    height:40px;
    margin-top:5px;
    margin-left:70px;

  }
  .SubHeader{
    display:flex;
    margin-left:20px;


  }
  .SubHeaderElements{
    width:120px;
  
    display: flex;
    margin-left: 30px;
  }
  .Group-Copy-3 {
    width: 24px;
    height: 24px;
    object-fit: contain;
    
  }
  .Home {
    width: 45px;
    height: 21px;
    margin-top:8px;
    margin-left: 0px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Group-Copy-4 {
    width: 24px;
    height: 24px;
    object-fit: contain;
    opacity: 0.5;
    
  }
  .Contacts {
    width: 70px;
    height: 21px;
    margin-left: 0px;
    margin-left: 0px;
    margin-top:8px;
    opacity: 0.5;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Group-Copy {
    width: 24px;
    height: 24px;
    object-fit: contain;
    opacity: 0.5;
    
  }
  .Messages {
    width: 75px;
    height: 21px;
    margin-left: 0px;
    margin-top:8px;
    opacity: 0.5;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .credit-card-scan {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    object-fit: contain;
    opacity: 0.5;
  }

  .Scan {
    width: 38px;
    height: 21px;
    margin-left: 0px;
    margin-top:8px;
    opacity: 0.5;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Group-Copy-12 {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    object-fit: contain;
    opacity: 0.5;
    
  }
  .The-Movement {
    width: 113px;
    height: 21px;
    margin-left: 0px;
    margin-top: 10px;
    opacity: 0.5;
    font-size: 15px !important;
    
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .Group-Copy-11 {
    width: 24px;
    height: 24px;
    object-fit: contain;
   
  }
  .Notifications-Copy {
    width: 97px;
    height: 21px;
    margin-left: 0px;
    opacity: 0.5;
    margin-top:8px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .menu {
    width: 24px;
    height: 24px;
    margin-left: 0px;
    object-fit: contain;
  }
  .Menu {
    width: 24px;
    height: 24px;
    margin-top:3px;
    object-fit: contain;
  }
  .SignOut{
    border-radius: 5px;
    border:1px solid white;
    color:white;
    background-image: linear-gradient(to bottom, #14b349, #09a04f);
    width:65px;
    height:30px;
    margin-left: 700px;
    margin-top: 10px;
    cursor: pointer;
  }
  .underline3{
    width:60px;
    height:2px;
    margin-top:41px;
    margin-left: -65px;
    background-color:white;
  }