.Main{
    width:900px;
    
    margin:0 auto;
    height:540px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #ffffff;
}
.Group-18 {
    width: 450px;
    height: 450px;
    object-fit: contain;
  }
  .PEEKaMEET-lets-you-n {
    width: 431px;
    height: 55px;
    margin-left: 0px;
    font-family: DMSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
    font-weight: bold;
  }
  
  .PEEKaMEET-lets-you-n .text-style-1 {
    width: 431px;
    font-size: 34px;
    font-weight: bold;
    margin-left:-100px;
  }
  .MainSubHeader{
      margin-top: 10px;
      margin-right: 30px;
  }
  .Lists{
    margin-top: 20px;
    width:450px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .Rectangle0 {
    width:450px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 96px;
    height: 30px;
    border-radius: 15px;
    background-color:#ffff99;
  }
  .Freelancer {
    width: 70px;
    margin-left: 12px;
    margin-top: 5px;
    margin-right: 10px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f17c2b;
  }
  .Rectangle1 {
    width: 98px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-right: 3px;
    border-radius: 15px;
    background-color: rgba(150, 54, 143, 0.18);
  }
  .Job-Seeker {
    width: 70px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #96368f;
  }
  .Rectangle2 {
    width: 112px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 15px;
    background-color: rgba(26, 150, 145, 0.18);
  }
  .Enterpreneur {
    width: 84px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a9691;
  }
  .Rectangle3 {
    width: 110px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 15px;
    background-color: rgba(230, 49, 131, 0.18);
  }
  .Mompreneur {
    width: 82px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e63183;
  }
  .Rectangle4 {
    width: 139px;
    height: 30px;

    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 15px;
    background-color: rgba(0, 128, 175, 0.17);
  }

  .Internship-Seeker {
    width: 111px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    margin-left:10px;
    margin-right: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0080af;
  }
  .Rectangle5 {
    width: 212px;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 3px;
    border-radius: 15px;
    background-color: rgba(231, 33, 44, 0.18);
  }
  .Environmental-Change-Maker {
    width: 184px;
    height: 17px;
    font-family: DMSans;
    font-size: 13px;
    margin-left: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e7212c;
  }
  .Build-and-manage-you {
    width: 431px;
    height: 24px;
    font-family: DMSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .Email{
    
      width: 31px;
      height: 16px;
      float: left;
      
      font-family: DMSans;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9ea0a3;
    }
    .Rectangle-Copy-6 {
      width: 350px;
      height: 36px;
      margin-right:50px;
      border-radius: 4px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
      border: solid 1px #1cb54f;
      background-color: #ffffff;
    }
    .Password{
    
      width: 54px;
      height: 16px;
      float: left;
      
      font-family: DMSans;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9ea0a3;
    }
    
    .Form{
      margin-top:20px;
    }
    .RectangleSignIn {
      
      width: 360px;
      height: 46px;
      margin-right:50px;
      border-radius: 4px;
      background-image: linear-gradient(92deg, #14b349 -109%, #09a04f 209%);
      cursor: pointer;
    }
    
    .Sign-In {
      width: 70px;
      margin-top:20px;
      margin-left: 10px;
      font-family: DMSans;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      background-image: linear-gradient(92deg, #14b349 -109%, #09a04f 209%);
      border:px solid #14b349;
      
}

.Remember-Me {
  width: 95px;
  height: 18px;
  margin-left: 0px;
  width:200px;
  opacity: 0.7;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;

}

.Forgot-Password {
  width: 109px;
  height: 18px;
  opacity: 0.7;
  margin-left:160px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
.checkRememberForgot{
  width:420px;
  
}
.Dont-have-an-account {
  width: 250px;
  height: 18px;
  margin-left:90px;
  display: flex;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Sign-Up {
  width: 51px;
  height: 18px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}
.validateEmail{
    
  width: 200px;
  margin-bottom: 0px;
  height: 16px;
  float: left;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:red;
}
