
.notes_wrappers{
  width: 479px;
  height: 425px;
  margin: 0 auto;
  margin-bottom:10px;
  border:1px solid green;
  border-radius:25px;
 
}
.notes_main_div{
  margin-left: -20px;
  width:730px;
}
.notes_div{
      width: 690px;
      height: 60px;
      border: 1px solid grey;
      border-radius: 7px;
      background-color:white;
      margin: 20px;
      box-shadow: -3px 0px 0.5px 0.5px darkgreen;
      
}
.get_notes{
width: 383px;
height: 18px;
font-family: DMSans;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
margin-left: 10px;
color:black;
}
.btn_notes{
  margin-top: -35px;
  /* margin-right: 5px;
 float: right;  */
}
.notes_buttons{
background-color:lightgrey;
border: none;
color:black;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.add_note_heading{
  margin-top: -15px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f8f8f8;
}
.follow_up_date{
  width: 84px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}
.follow_up_time{
  width: 84px;
  height: 16px;
  
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
  margin-left: 100px;
}
.write_notes{
  width: 34px;
height: 16px;
font-family: DMSans;
font-size: 12px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #9ea0a3;
}
.NotesStruct{
  width:300px;
  margin-left: 30px;
}
.addnote{
  position: relative;
  width:70px;
  left:620px;
  top:-40px;
  text-decoration: none;
  color:green;
  background-color: white;
  cursor: pointer;
}
.deleteNote{
  width:130px;
  margin-left:380px;
  margin-right: 5px;
  margin-top: -10px;
  margin-bottom: 2px;
  border:2px solid green;
  border-radius: 4px;
  text-decoration: none;
  color:blue;
  background-color: white;
  cursor: pointer;
}
.editNote{
  width:130px;
  
  border:2px solid green;
  border-radius: 4px;
  text-decoration: none;
  color:blue;
  background-color: white;
  cursor: pointer;
}
h3{
  margin-left: 200px;
  padding-top: 20px;
  font-family: DMSans;
  font-size: 16px;
}
.notesField{
  margin-left: 20px;
  margin-bottom: 20px;
}
input{
  border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom: 1px solid#DCDCDC;
      
}
.date{
  margin-right: 20px;
}

.cancelSubmit{
  display: flex;
  flex-wrap: nowrap;
  width:440px;

}
.cancel{
  width: 320px;
  height: 36px;
  text-decoration: none;
  color: grey;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.submit{
  width: 320px;
  height: 36px;
  text-decoration: none;
  color:white;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 30px;
  background-image: linear-gradient(to bottom, #14b349, #09a04f);
}
.span{
  margin-left: 80px;
  position: relative;
  top:5px;
}
.outter_notes{
  margin-top: 40px;
}
.notes_text{
  width:95%;
}
.notesImg{
  width:40px;
  height:40px;
  margin-left: 20px;
  border-radius:50px
}
.name{
  position: relative;
  top:-10px;
  left:10px;
  width: 82px;
  height: 21px;
  font-family: DMSans;
  font-size: 16px;
  font-weight: normal;
}
.notes_date{
  width: 91px;
  height: 16px;
  margin-left: 10px;
  
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}